*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica, sans-serif;
}
.contenitore{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.btn{
    background-color: white;
    border-radius: 40px;
    text-decoration: none;
    padding: 8px 16px;
    color: black;
    display: inline-block;
    font-weight: 700;
}
.btn.btn-big{
    padding: 16px 32px;
    color: black;
}
.btn.btn-black{
    background-color: #222;
    color: white;
}


/* header */
header{
    background-color: #255ee9;
    line-height: 100px;
    height: 100px;
}
.debug{
    height: 500px;
}
#logo{
    float: left;
    width: 15%;
}
header nav{
    float: left;
    width: 70%;
    text-align: center;
    
}
header nav ul li{
    display: inline-block;
}
header ul li a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
#login{
    float: right;
    width: 15%;
    text-align: right;
}
#logo img{
    vertical-align: middle;
}
#login .btn{
    display: inline;
    font-size: 15px;
}


/* jumbotrone */
#jumbotron{
    background-image: url("../img/jumbo.png");
    min-height: 430px;
    background-size: cover;
    background-position: center;
    color: white;
    margin-bottom: 150px;
}
#jumbotron .contenitore{
    max-width: 780px;
    text-align: center;
}
#jumbotron .contenitore h1{
    margin-bottom: 40px;
    padding-top: 50px;
    font-size: 60px;
}
#jumbotron .contenitore p{
    margin-bottom: 25px;
    font-size: 20px;
}
#jumbotron .contenitore a.btn.btn-big {
    margin-right: 20px;
}


/* main */
.contenitore-items{
    width: 70%;
    margin: auto;
    min-height: 600px;
    margin-bottom: 200px;
}
.col{
    float: left;
}
.col-left{
    width: 40%;
}
.col-right{
    width: 60%;
    padding-left: 300px;
}
.col.col-right{
    padding-top: 30px;
}
.col.col-right h1{
    margin-bottom: 30px;
    font-size: 60px;
}
.col-right p{
    font-size: 20px;
    line-height: 30px;
}



.contenitore-items2{
    width: 70%;
    margin: auto;
    min-height: 600px;
    margin-bottom: 200px;
    background-color: lightgray;
}
.col-right2{
    width: 50%;
    padding-right: 200px;
    padding-left: 80px;
    padding-top: 30px;
}
.col-right2 h1{
    margin-bottom: 30px;
    font-size: 60px;
}
.col-right2 p{
    font-size: 20px;
    line-height: 30px;
}
.col-left2{
    width: 50%;
}



/* footer */
footer{
    background-color: grey;
}














