*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica, sans-serif;
    background-color: white;
}


/* regole contenitori e bottoni */
.contenitore{
    width: 80%;
    margin: auto;
    height: 100%;
    max-width: 1180px;
}
.contenitore-footer{
    height: 100%;
    padding-top: 60px;
}

.contenitore::after{
    content: "";
    display: table;
    clear: both;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.btn{
    background-color: white;
    border-radius: 40px;
    text-decoration: none;
    padding: 8px 16px;
    color: black;
    display: inline-block;
    font-weight: 700;
}
.btn.btn-big{
    padding: 16px 32px;
    color: black;
}
.btn.btn-black{
    background-color: #222;
    color: white;
}


/* header */
header{
    background-color: #255ee9;
    line-height: 100px;
    height: 100px;
}
.debug{
    height: 500px;
}
#logo{
    float: left;
    width: 15%;
}
header nav{
    float: left;
    width: 70%;
    text-align: center;
    
}
header nav ul li{
    display: inline-block;
}
header ul li a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
#login{
    float: right;
    width: 15%;
    text-align: right;
}
#logo img{
    vertical-align: middle;
}
#login .btn{
    display: inline;
    font-size: 15px;
}


/* jumbotrone */
#jumbotron{
    background-image: url("../img/jumbo.png");
    min-height: 430px;
    background-size: cover;
    background-position: center;
    color: white;
    margin-bottom: 50px;
}
#jumbotron .contenitore{
    max-width: 780px;
    text-align: center;
}
#jumbotron .contenitore h1{
    margin-bottom: 40px;
    padding-top: 50px;
    font-size: 60px;
}
#jumbotron .contenitore p{
    margin-bottom: 25px;
    font-size: 20px;
}
#jumbotron .contenitore a.btn.btn-big {
    margin-right: 20px;
}


/* edit main */
.contenitore-items{
    min-height: 550px;
    max-width: 1180px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-gray{
    background-color: #f6f6f6;
    padding-top: 20px;
}
.container-gray::after{
    display: table;
    content: "";
    clear: both;
}

/* primo e terzo blocco */
.col-left{
    float: left;
    width: 60%;
}
.col-right{
    padding-top: 40px;
    width: 40%;
    float: right;
}
.col-right h1{
    margin-bottom: 30px;
    font-size: 60px;
}
.col-right p{
    font-size: 20px;
    line-height: 30px;
}

/* secondo blocco */
.col-left2{
    padding-top: 40px;
    width: 40%;
    float: left;
}
.col-right2{
    float: right;
    width: 60%;
}
.col-left2 h1{
    margin-bottom: 30px;
    font-size: 60px;
}
.col-left2 p{
    font-size: 20px;
    line-height: 30px;
}


/* quarto blocco */
.text-grande h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
}
.text-grande p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 60px;
}
.img-grande{
    text-align: center;
    margin-bottom: 50px;
}
.stars{
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
}
.stars h2{
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}
.btn-bot{
    background-color: #7085d5
    ;
    border-radius: 40px;
    text-decoration: none;
    padding: 16px 32px;
    color: white;
    font-weight: 700;
}
.btn1{
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    margin-bottom: 80px;
}



/* edit footer */
footer{
    background-color: #23272a;
    padding-top: 70px;
    min-height: 500px;
}
.contenitore-footer::after{
    content: "";
    display: table;
    clear: both;
}
.informazioni.box h3{
    font-size: 30px;
}
footer li{
    list-style: none;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: left;
}

footer ul li a{
    color: white;
    text-decoration: none;
}
.informazioni{
    float: left;
    text-align: center;
}

.informazioni.box{
    width: 40%;
    text-align: left;
    color: #8ea1e1;
    text-align: justify;
}

.informazioni.box span{
    color: white;
}

.informazioni.box .social{
    color: white;
    margin-right: 20px;
    margin-top: 10px;
}

.distanza{
    width: 15%;
}

#img-ita img{
    margin-top: 10px;
    width: 3%;
}

.titolo-viola{
    color: #8ea1e1;
}

hr{
    border-color: #8ea1e1;
    margin-top: 25px;
}

.dopo-hr{
    padding-top: 40px;
}

.logo-dopo-hr{
    margin-top: 20px;
    float:left;
    height: 70px;
    margin-top:auto;
}

.btn.btn-footer{
    color:rgb(255, 255, 255);
    background-color: #8ea1e1;
    float: right;
}













